
  <div class="col-12">
    <div class="container">
      <div id="projects" class="tab-section tab-hidden d-none">
        <h2 class="rubik-dirt-regular">プロジェクト</h2>
        <div class="project-section">
          <div class="project-card">

            <div class="project-card-top">
              <div class="project-description vtuberlist-body">

                <h3>VTuber List</h3>
                <p>VTuberを見つかってリストを作るウェブアプリ。好きなVTuberをリストに加え、友達と共有、友達に煽られる。VTuberを名前、事務所、またはタグで検索して、それとも一括で多くのVTuberをランダムで検索する。</p>
                <p>本プロジェクトはLe Wagonの映画ウォッチリストを基にして、Ruby on Rails, PostgreSQL, Cloudinary, Le Wagonのテンプレートを使い作った。追加の機能はドラッグ・ドロップ並び替え、リストを非表示かにする機能。コーディングとデザインは全部自分で行った。</p>
                <p>本アプリを作った理由は新人VTuberを見つかるのが好きで、YouTubeを開いた度に色々なVTuberが最初の画面に紹介されたから。VTuberが多過ぎて記録できるよう本アプリを作った。</p>
                <% link_to "https://vtuber-list-941da732d306.herokuapp.com/users/2", target: :blank do %>
                  <i class="fa-solid fa-arrow-up-right-from-square" style="color:white;"></i>
                <% end %>
              </div>
              <div class="project-pictures" style="margin-bottom: 10px;">
                <%= image_tag "vtuber_list_1.png", id: "vtuberlist-photo-home" %>
              </div>
            </div>

            <div class="vtuber-carousel-container">
              <div id="vtuber-list-carousel">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="false">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="vtuber-list-picture">
                        <%= image_tag "vtuber_list_2.png", class: "project-photo" %>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="vtuber-list-picture">
                        <%= image_tag "vtuber_list_3.png", class: "project-photo" %>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="vtuber-list-picture">
                        <%= image_tag "vtuber_list_4.png", class: "project-photo" %>
                      </div>
                    </div>
                  </div>

                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>

                </div>
              </div>
            </div><%# end carousel-container %>
          </div><%# end project-card%>

          <div class="project-card">
            <div class="project-card-top" style="justify-content: flex-start">
              <div class="project-description">
                <h3>Crok'</h3>
                <p>犬のフィットネス管理アプリ。愛犬の体組成や運動レベルを記録すると、アプリが経時的にフィットネスを記録し、運動や食事を調整することができます。食事や散歩、獣医に行くリマインダーも作成できます。家族にアプリを使わせると、タスクを割り当てることもできる。</p>
                <p>Le Wagonコーディングブートキャンプ中4人のチームで2週間かけて作られた。</p>
                <% link_to "https://github.com/Junichoco/Crok", target: :blank do %>
                  <i class="fa-brands fa-github"></i>
                <% end %>
              </div>


              <div class="crok-carousel-container">
                <div id="crok-carousel">
                  <div id="carouselCrokIndicators" class="carousel slide" data-bs-interval="false">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselCrokIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselCrokIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselCrokIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="crok-picture">
                          <%= image_tag "crok_1.png", class: "project-photo photo-medium" %>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="crok-picture">
                          <%= image_tag "crok_2.png", class: "project-photo photo-medium" %>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="crok-picture">
                          <%= image_tag "crok_3.png", class: "project-photo photo-medium" %>
                        </div>
                      </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCrokIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselCrokIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>

                  </div>
                </div>
              </div><%# end carousel-container %>


            </div>
          </div>

          <div class="project-card">
            <div class="project-card-top">
              <div class="project-description">
                <h3>LuxeHaven</h3>
                <p>Airbnb風の市場ウェブアプリ。本アプリでスーツ、自動車、腕時計などの贅沢品を貸し借りできる。Crok'と同じチームで作り、Crok'とVTuber Listと同じくRuby on Rails, PostgreSQL, Cloudinaryを使って</p>
                <% link_to "https://github.com/Junichoco/Luxury-Marketplace", target: :blank do %>
                  <i class="fa-brands fa-github"></i>
                <% end %>
              </div>
              <div class="project-pictures">
                <%= image_tag 'luxehaven.png', class: 'project-photo photo-medium photo-large' %>
              </div>
            </div>
          </div>

          <div class="project-card">
            <div class="project-card-top" style="justify-content: flex-start">
              <div class="project-description">
                <h3>Karaoke Roulette of Doom</h3>
                <p>React Custom Rouletteを使う簡単なReactプロジェクト。好きなカラオケ曲を多く含んだ。カラオケで友達の前で苦しむ、もしくは友達を苦しませるなら最適。</p>
                <% link_to "https://karaoke-roulette-monkey.netlify.app/", target: :blank do %>
                  <i class="fa-solid fa-arrow-up-right-from-square" style="color:white;"></i>
                <% end %>
              </div>
              <div class="project-pictures">
                <%= image_tag 'karaoke_roulette_2.png', class: 'project-photo photo-medium photo-large' %>
              </div>
            </div>
          </div>

          <div class="project-card">
            <div class="project-card-top">
              <div class="project-description">
                <h3>SWOT Analysis</h3>
                <p>SWOT分析図を作れる簡単なReactプロジェクト。</p>
                <% link_to "https://swot-misokatsu.netlify.app/", target: :blank do %>
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                <% end %>
              </div>
              <div class="project-pictures">
                <%= image_tag 'swot_analysis.png', class: 'project-photo photo-medium photo-large' %>
              </div>
            </div>
          </div>

          <div class="project-card">
            <div class="project-card-top" style="justify-content: flex-start">
              <div class="project-description">
                <h3>VTuber Feed</h3>
                <p>Feedparserライブラリーとdjango-apschedulerを使って自動的にVTuberの動画とアーカイブを取る簡単なDjangoプロジェクト。</p>
                <% link_to "https://github.com/Junichoco/vtuber-feed", target: :blank do %>
                  <i class="fa-brands fa-github"></i>
                <% end %>
              </div>
              <div class="project-pictures">
                <%= image_tag 'vtuber_feed_2.png', class: 'project-photo photo-medium photo-large' %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
